#user-nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    left: 5vw;
    height: 8vh;
    background-color: #464B37;
}

#userNavIcons {
    display: flex;
    margin: 5px;
    margin-right: 25px;
}

#userNavIcons button {
    background-color: transparent !important;
}

#userNavIcons button:hover {
    border-color: #262B15;
}

#userNavIcons button:focus, button:focus-visible {
    outline: none !important ;
}

.mainNavIcon {
    height: 5vh;
    float: right;
}

#site-nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 5vw;
    background-color: #262B15;
}

#message-list {
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
    top: 8vh;
    left: 5vw;
    background-color: gray;
    outline: #262B15 1px solid;
}

#message-list.hidden {
    display: none;
}

#message-search {
    margin: 5px;
}

.test-message {
    padding: 1px;
    outline: #262B15 .5px solid;
}

#postbox-list {
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
    top: 8vh;
    left: 5vw;
    background-color: gray;
    outline: #262B15 1px solid;
}

#postbox-list.hidden {
    display: none;
}

#postbox-search {
    margin: 5px;
}

.test-postbox {
    padding: 1px;
    outline: #262B15 .5px solid;
}

#siteNavIcons {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
    height: 33vh;
    justify-content: space-between;
}

#siteNavIcons button {
    background-color: transparent !important;
}

#siteNavIcons button:hover {
    border-color: #464B37;
}

#siteNavIcons button:focus, button:focus-visible {
    outline: none !important ;
}

.sideNavIcon {
    width: 3rem;
    align-self: center;
}

#app-search {
    float: left;
    margin: 15px;
}

#app-logo {
    bottom: auto;
}